{{ define "main" }}
{{ "<!-- services/terms.html -->" | safeHTML }}
  <div class="{{ .Site.Params.container }}">
    <div class="gallery"> 
    {{ range .Pages }}      
      <div class="gallery-card">        
        <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
        {{ with .Resources.GetMatch "banner*" }}
          {{ with .Resize "400x" }}
            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
    </div>
  </div> 
{{ end }}