<!doctype html>
<html lang="{{ .Site.LanguageCode }}" data-bs-theme="auto">
  <head>
    {{ partial "header" . }}
    {{ partial "styles" . }}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1 flex-shrink-0">

      {{ partial "navbar" . }}
      
      <div class="container-xxl bd-gutter masthead-followup">
        <div class="text-center py-5">
          <h1 class="display-1">{{ .Title }}</h1>
          <h2>{{ .Description }}</h2>
        </div>
      </div>

      {{ block "main" . }}
      {{ end }}

    </main>

    <footer class="flex-grow-0 flex-shrink-0 py-3 bg-light border-top text-muted">

      {{ partial "footer" . }}

    </footer>

    {{ partial "scripts" . }}

  </body>
</html>
