<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "header" . }}
    {{ partial "styles" . }}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="flex-grow-1 flex-shrink-0">
      <header>
        {{ partial "navbar" . }}
        {{ partial "breadcrumb" . }}
        {{ block "title" . }}
        <div class="{{ .Site.Params.container }}">
          <div class="text-center py-5">
            <div>
              <h1 class="display-3 text-uppercase mb-3">{{ .Title }}</h1>
              <p class="lead mb-4">{{ .Description }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </header>
      {{ if .IsHome }}
      <main class="main-home-page">
      {{ else }}
      <main class="main-{{ .Type }}">
      {{ end }}
        {{ block "main" . }}
        {{ end }}
      </main>
    </div>
    <footer class="flex-grow-0 flex-shrink-0 py-3 bg-light border-top text-muted">
      {{ partial "footer" . }}
    </footer>
    {{ partial "scripts" . }}
  </body>
</html>

