{{ "<!-- partials/breadcrumb.html -->" | safeHTML }}

{{ if or (and (eq .Page.Type "services") (ne .Page.Path "/services")) (and (eq .Page.Type "posts") (ne .Page.Path "/posts")) }}

<div class="{{ .Site.Params.container }}">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="Хлебные крошки">
    <ol class="breadcrumb p-2">
      {{ range .Ancestors.Reverse }}
      <li class="breadcrumb-item">
        <a href="{{ .RelPermalink }}" class="text-decoration-none">
          <span class="breadcrumb-text">
            {{ .Title }}
          </span>          
        </a>
      </li>
      {{ end }}
      <li class="breadcrumb-item active"  aria-current="page">{{ .Title }}</li>
    </ol>
  </nav>
</div>

{{ end }} 