<form class="contact-form" data-city="{{ .Site.Params.city }}" novalidate>
    <input type="text" name="Username" class="robot-text" autocomplete="off" pattern=".{0,0}" />
    <input type="text" name="Phone" class="form-control form-control-lg  mt-3" aria-label="Номер телефона для обратной связи" placeholder="Ваш номер телефона" autocomplete="tel-country-code" pattern="^[\+0-9\s\(\)\-]{10,18}" required />
    <button type="submit" class="btn btn-lg btn-primary  mt-3">Отправить</button>
    <p class="text-muted mt-3"><small>Отправляя данные, вы соглашаетесь с <a href="#">политикой конфиденциальности</a></small></p>
    <style type="text/css">
        .contact-form {
            position: relative;
        }
        .contact-form > .robot-text {
            position: absolute;
            top: -2px;
            left: -10px;
            width: 0;
            height: 0;
            overflow: hidden;
            border: 0;
            padding: 0;
        }
    </style>
</form>