<form class="contact-form needs-validation" data-city="{{ .City }}" novalidate>
    <input type="text" name="Username" class="robot-text" autocomplete="off" pattern=".{0,0}" />
    <input type="text" name="Phone" class="form-control form-control-lg  mt-3" aria-label="Номер телефона для обратной связи" placeholder="Ваш номер телефона" autocomplete="tel-country-code" pattern="^[\+0-9\s\(\)\-]{18,18}" required />
    <div class="phone-error invalid-feedback">Введите номер телефона</div>
    {{ if .ShowMessageInput }}
    <textarea style="height: 200px" name="Message" class="form-control form-control-lg  mt-3" aria-label="Вопрос, который вы хотите задать" placeholder="Ваш вопрос..." required></textarea>
    <div class="message-error invalid-feedback">Введите сообщение</div>
    {{ end }}
    <button type="submit" class="btn btn-lg btn-primary  mt-3">Отправить</button>
</form>
